body{
    max-height: 100vh !important;
    overflow: hidden;
}
.tabla-actividades{
    display: block;
    width: 100% !important;
    overflow-y: hidden;
}
.indice-actividades{
    width: 95% !important;
}
.item-tabla{
    display: block;
    border: 1px solid rgb(150, 58, 58) !important
}
.index-tabla{
    display: inline-block;
    border: 1px solid rgb(65, 150, 184) !important
}
#registroActividades{
    height: calc(100vh - 32px) !important;
    overflow-y: auto;
}