<div>
    <h1>Problema de selección de actividades</h1>
      <table *ngIf="hayRegistros(); else sinarticulos">
        <thead>
          <th>  ID</th>
          <th>  Inicio</th>
          <th>  Fin</th>
          <th>Borrar</th>
          <th> Seleccionar</th>
        </thead>
        <tbody>
          <tr *ngFor="let art of actividades">
            <td>{{art.id}}</td>
            <td>{{art.inicio}}</td>
            <td>{{art.fin}}</td>
            <td><button (click)="borrar(art)">Borrar</button></td>
            <td><button (click)="seleccionar(art)">Seleccionar</button></td>        
          </tr>
      </tbody>
      </table>
      <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
      <div>
        
        <p *ngIf="0 <= art.id">
            Id:{{art.id}}
          </p>
        <p>
          Inicio:<input matInput type="number" [(ngModel)]="art.inicio">
        </p>
        <p>
          Fin:<input type="number" [(ngModel)]="art.fin" />
        </p>            
        <p>
          <button (click)="agregar()">Agregar</button>
          <button (click)="modificar()">Modificar</button>
          <button (click)="encontrarActividades2()">Obtener Optima</button>
        </p>
      </div>
  </div>
  <div>
    <ol>
      <li *ngFor="let it of optima">
        {{it.inicio}} - {{it.fin}}
      </li>
    </ol>
  </div>
    
 